## Interactive Plot: Plotly

https://plot.ly/python/box-plots/

### Import module

In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
pyo.init_notebook_mode(connected=True)

### 1. Basic box plot

In [ ]:
# create data
# use go.Box istead of go.Scatter and go.Bar
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np

# create data
y0 = np.random.randn(50)-1
y1 = np.random.randn(50)+1


# crate box object
trace0 = go.Box(
    y=y0
)
trace1 = go.Box(
    y=y1
)
data = [trace0, trace1]

In [ ]:
# create figure object
fig = go.Figure(data = data, 
                #layout = layout
               )

# plot
pyo.iplot(fig)

### 2. Box Plot decoration

In [ ]:
# crate box object
trace0 = go.Box(
    y=y0
)
trace1 = go.Box(
    y=y1
)

# group data to trace
data = [trace0, trace1]

In [ ]:
# specify layout information

layout = go.Layout(title = 'This is Basic Box Plot in Plotly', # Graph title
                   xaxis = {'title': 'This is X-axis'}, # x-axis label
                   yaxis = {'title': 'This is Y-axis'}, # y-axis label
                   hovermode ='closest' # handles multiple points landing on the same vertical
)

In [ ]:
# create figure
fig = go.Figure(data = data, layout = layout)

In [ ]:
pyo.iplot(fig)

### Exercise

ชุดนี้จะทำ box plot และแสดงการ plot ค่าหลายๆ set ใน รูปเดียวกัน โดยการใช้ loop และ list comprehension

In [3]:
# read data
nba_df = pd.read_excel('Data_NBA_Player_trim.xlsx', sheet_name = 'data')
nba_df.head()

,ID,firstName,lastName,playPosition,team,Height,Weight,born,age,town,debut,yearInNBA,scoreMPG,scoreFGpct,scoreP3pct,scoreFTpct,scorePPG,scoreRPG,scoreAPG,scoreBPG
0,1,Quincy,Acy,F,Nets,2.01,108.9,10/06/1990,27,Baylor,2012,6,16.1,44.7,35.6,76.1,5.0,3.5,0.6,0.4
1,2,Steven,Adams,C,Thunder,2.13,115.7,07/20/1993,25,Pittsburgh,2013,5,25.5,58.6,0.0,56.8,8.8,6.9,0.9,1.0
2,3,Arron,Afflalo,G,Magic,1.96,95.3,10/15/1985,32,UCLA,2007,11,27.3,45.0,38.6,82.5,10.8,2.9,1.8,0.2
3,4,Alexis,Ajinca,C,Pelicans,2.18,112.5,05/06/1988,30,"Saint Etienne, France",2008,7,13.3,50.3,28.6,79.7,5.3,3.9,0.5,0.6
4,5,LaMarcus,Aldridge,F,Spurs,2.11,117.9,07/19/1985,33,Texas,2006,12,34.6,48.9,28.8,80.6,19.4,8.3,1.9,1.1

In [7]:
# extract age from individual team
nba_df[nba_df['team'] == 'Nets']['age']

0      27
5      20
62     31
81     26
85     31
100    25
102    24
106    33
115    28
155    26
173    23
275    27
285    22
322    22
Name: age, dtype: int64

### Exercise#1:
สร้าง box plot แสดงค่า age ของทีม Bulls และ Hornets 

#### Hint
* ดูตัวอย่างการดึง series ด้านบน

In [20]:
# crate box object
trace0   = go.Box(
                  y    = nba_df[nba_df['xxxx'] == 'xxxx']['xxxx'],
                  name = 'xxxx'
                 )

trace1   = go.Box(
                  y    = nba_df[nba_df['xxxx'] == 'xxxx']['xxxx'],
                  name = 'xxxx'
                 )

# group data to trace
data = [trace0, trace1]

In [ ]:
fig = go.Figure(data = data)

In [ ]:
pyo.iplot(fig)

#### Solution

In [ ]:
# crate box object
trace0   = go.Box(
                  y    = nba_df[nba_df['team'] == 'Bulls']['age'],
                  name = 'Bulls'
                 )

trace1   = go.Box(
                  y    = nba_df[nba_df['team'] == 'Hornets']['age'],
                  name = 'Hornets'
                 )

# group data to trace
data = [trace0, trace1]

In [21]:
fig = go.Figure(data = data)

In [ ]:
pyo.iplot(fig)

### What should we do if we want to visualize all teams?

เราต้องเขียน trace 30 ครั้ง?

In [24]:
# getting unique name of team (sorted by mean value)
unique_name = nba_df.groupby('team').mean()['age'].sort_values().index
unique_name

Index(['Bulls', 'Hornets', 'Blazers', 'Pacers', 'Nets', 'Celtics', 'Kings',
       'Jazz', 'Magic', 'Nuggets', 'Sixers', 'Hawks', 'Lakers', 'Suns',
       'Raptors', 'Knicks', 'Bucks', 'Pelicans', 'Grizzlies', 'Thunder',
       'Pistons', 'Heat', 'Timberwolves', 'Wizards', 'Clippers', 'Spurs',
       'Warriors', 'Mavericks', 'Cavaliers', 'Rockets'],
      dtype='object', name='team')

### Exercise
ใช้ for loop ในการ สร้าง trace เป็น list ไว้

In [ ]:
trace_list = []

for team_name in unique_name:
    trace_temp   = go.Box(
                          y    = nba_df[nba_df['xxxx'] == xxxx]['xxxx'],
                          name = xxxx
                         )
    trace_list.append(trace_temp)
    
data = trace_list

In [ ]:
fig = go.Figure(data = data)

In [ ]:
pyo.iplot(fig)

### Solution

In [31]:
trace_list = []

for team_name in unique_name:
    trace_temp   = go.Box(
                          y    = nba_df[nba_df['team'] == team_name]['age'],
                          name = team_name
                         )
    trace_list.append(trace_temp)
    
data = trace_list

In [32]:
fig = go.Figure(data = data)

In [33]:
pyo.iplot(fig)

### ถ้า for loop ยังยาวไป
เราสามารถนำ list comprehension มาใช้ในการสร้าง list ได้

### 3. Box Plot with pandas + List comprehension

<img src = "pic_data/the_watch_quote.png" width = 700>

In [ ]:
# 1- read data
watch_df = pd.read_excel('watch_data_aggregated_nopic.xlsx', sheet_name = 'ALL')
watch_df.head()

#### recall dataframe manipulation

In [ ]:
# sort_values by price
watch_mean_df = watch_df.groupby(['Brand']).mean()[['Price_THB']].dropna().sort_values('Price_THB', ascending = False)
# get index after sorted
brand_unique = watch_mean_df.index
brand_unique

In [ ]:
watch_df.head()

In [ ]:
# to get price from each brand
watch_df['Price_THB'][watch_df['Brand'] == 'Tudor']

In [ ]:
# list conprehension
trend = [watch_df['Price_THB'][watch_df['Brand'] == brand] for brand in brand_unique]
len(trend)

### plotting using plotly

In [ ]:
data = [go.Box(
                y = watch_df['Price_THB'][watch_df['Brand'] == brand],
                name = brand
              )
        
        for brand in brand_unique
       ]

In [ ]:
layout = go.Layout(title = 'ราคา นาฬิกาหรู ตาม Brand',
                    yaxis=dict(
                               range = [0, 40000000],
                               autorange=False,
                               title = 'Price THB'
                              )
                  )
layout

In [ ]:
fig = go.Figure(data   = data,
                layout = layout)

pyo.iplot(fig)

### Extra Various options to show the plot

#### 4.1 show inside the jupyter notebook

In [ ]:
pyo.iplot(fig)

#### 4.2 show as web page

In [ ]:
pyo.plot(fig, filename='watch_box_webpage.html')

#### 4.3 Show as plotly public data

Need registration at plotly cloud

In [ ]:
import plotly.plotly as py

py.plot(fig, filename = 'watch_box_public')

#### 4.4 save as static figure

Need pip install additional module 

conda install -c plotly plotly-orca

In [ ]:
import plotly.io as pio
# conda install -c plotly plotly-orca
#pyo.plot(data, image_filename='xxx', image='png')

pio.write_image(fig, 'watch_box_fig_export.png')